@page "/myactivities/create"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class=" card-title">Create New Activity</h3>
<hr />
<br />

<EditForm Model="@myActivity" OnValidSubmit="CreateMyActivity">
 <DataAnnotationsValidator />
 <ValidationSummary />

 <div class="form-group">
     <label>Movie: </label>
     <div>
         <InputSelect @bind-Value="myActivity.MovieId" class="form-control">
             <option value="">--Select Movie--</option>
             @if (Movies !=null)
                {
                    foreach (var movie in Movies)
                    {
                        <option value="@movie.Id">@movie.Name @movie.Status</option>
                        
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(()=> myActivity.MovieId)" />
     </div>
 </div>

 <div class="form-group">
     <label>Cafe: </label>
     <div>
         <InputSelect @bind-Value="myActivity.CafeId" class="form-control">
             <option value="">--Select Cafe--</option>
             @if (Cafes !=null)
                {
                    foreach (var cafe in Cafes)
                    {
                        <option value="@cafe.Id">@cafe.Name @cafe.Status</option>
                        
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(()=> myActivity.CafeId)" />
     </div>
 </div>
 <div class="form-group">
     <label>Festival: </label>
     <div>
         <InputSelect @bind-Value="myActivity.FestivalId" class="form-control">
             <option value="">--Select Festival--</option>
             @if (Festivals !=null)
                {
                    foreach (var festival in Festivals)
                    {
                        <option value="@festival.Id">@festival.Name @festival.Status</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(()=> myActivity.FestivalId)" />
     </div>
 </div>

 <div class="form-group">
     <label>Dinner: </label>
     <div>
         <InputSelect @bind-Value="myActivity.DinnerId" class="form-control">
             <option value="">--Select Dinner--</option>
             @if (Dinners !=null)
                {
                    foreach (var dinner in Dinners)
                    {
                        <option value="@dinner.Id">@dinner.Name @dinner.Status</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(()=> myActivity.DinnerId)" />
     </div>
 </div>

 <div class="form-group">
     <label>Year: </label>
     <div>
         <InputNumber @bind-Value="@myActivity.Year" class="form-control" />
         <ValidationMessage For="@(() => myActivity.Year)" />
     </div>
 </div>

 <button type="Submit" class="btn btn-success btn-block">
     Create Activities
 </button>

 
</EditForm>

@code {
    MyActivity myActivity = new MyActivity();

    private IList<Movie> Movies;
    private IList<Cafe> Cafes;
    private IList<Festival> Festivals;
    private IList<Dinner> Dinners;

    protected async override Task OnInitializedAsync()
    {
        Movies = await _client.GetFromJsonAsync<List<Movie>>($"{Endpoints.MoviesEndpoint}");
        Cafes = await _client.GetFromJsonAsync<List<Cafe>>($"{Endpoints.CafesEndpoint}");
        Festivals = await _client.GetFromJsonAsync<List<Festival>>($"{Endpoints.FestivalsEndpoint}");
        Dinners = await _client.GetFromJsonAsync<List<Dinner>>($"{Endpoints.DinnersEndpoint}");
    }

    private async Task CreateMyActivity()
    {
        await _client.PostAsJsonAsync(Endpoints.MyActivitiesEndpoint, myActivity);
        _navManager.NavigateTo("/myactivities/");
    }

}
